header{
    text-decoration-color: hotpink;
}


#grid{
    margin-left: auto;
    margin-right: auto;
}

/* #grid TR TD{
    border:1px solid black;
    background: green;
    width: 16px;
    height: 16px;
    text-align: center;
}
#grid TR TD.mine{
    background: hotpink;
}
#grid TR TD.not_mine{
    background:blue;
} */

.clicked{
    background: blue;
}


.cols{
    border-width: 1px ;

}